.container{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-top: 20px;
    color: var(--textSoft);
}
.logo{
    font-weight: bold;
}
.text{
    font-weight: 300;
    font-size: 12px;
}