.form {
    background-color: var(--bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    width: 500px;
    align-items:center ;
  }
  
  .form input {
    color: var(--text);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    border: 2px solid #2e374a;
    background-color: #2e374a73;
    margin: 10px 0px;
    width: 100%;
  }
  
  .form button {
      width: 100%;
      padding: 20px;
      background-color: teal;
      color: var(--text);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      width: 95%;
    }
    
    .form button:hover {
      background-color: rgba(0, 128, 128, 0.486);
    }